
.wrapper {
    height: 50px;
    border: 1px solid #8E8E8E;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.wrapper__input {
    height: 24px;
    width: 100%;
    border: none;
}

.label {
    margin: 0;
    font-size: 12px;
}

.wrapper__input:hover {
    outline: none;
}

.wrapper__input:focus {
    outline: none;
}